@import "tailwindcss";


html,body{
    margin: 0;
    padding: 0;
    height: 618vh;
    padding-bottom: 40px;
    /* background-color: #fd2c2a; */
    background-color: black;
    color: white;
}

canvas{
    pointer-events: none;
}

.rotate-text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  